@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

:root {
  --font-family: 'Arimo', sans-serif;
  --font-size: 18px;
  --font-color: white;

  --margin-small: 10px;
  --margin-medium: 20px;

  --margin-rsp-xl: 150px;
  --margin-rsp-lg: 50px;
  --margin-rsp-sm: 10px;

  --padding-small: 10px;

  --black: rgb(22, 22, 22);
  --dark-gray: rgb(54, 54, 54);
  --gray: rgb(100, 100, 100);
  --light-gray: rgb(149, 149, 149);
  --green: #1f8b4c;

  --transition-small: 500ms;
  --transition-big: 2s;

  --border-radius-small: 10px;
  --border-radius-medium: 20px;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family) !important;
  font-size: var(--font-size) !important;
  margin: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-x: hidden;
}

/* --- Language-Changer --- */
#lang {
  position: fixed;
  top: 0;
  background-color: var(--dark-gray);
  padding: 12px 0 11px 0;
  border-radius: 2rem;
  margin: 20px;
  text-decoration: none;
  z-index: 200;
  cursor: pointer;
}
#lang h3 {
  display: inline;
  font-size: 30px !important;
}
#lang #lang-current {
  transition: var(--transition-small);
  position: absolute;
  top: 2px;
  left: 50px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--gray);
  z-index: -1;
}
#de, #en {
  padding: 10px 8px;
}
#site-en {
  display: block;
}
#site-de {
  display: none; 
}
/* --- Language-Changer --- */

/* ----- Main-Content ----- */
#main {
  margin: 200px auto;
  background-color: var(--black);
  border-radius: 20px;
  z-index: 1000;
  box-shadow: white 0 0 15px 2px;
}
#banner {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("images/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
  border: 10px solid var(--black);
}
#profilepic {
  position: relative;
  margin-left: 100px;
}
#profilepic img {
  margin-top: -150px;
  width: 300px;
  height: auto;
  border-radius: 50%;
  background-color: var(--black);
  padding: var(--padding-small);
  z-index: 10;
}
#onlinestatus {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: var(--green);
  border: 10px solid var(--black);
  margin-left: 230px;
  margin-top: -100px;
  z-index: 100;
  position: absolute;
}

h1 {
  position: relative;
  font-size: 40px !important;
  margin-left: var(--margin-rsp-xl);
  color: white !important;
  font-weight: bold;
}
#main h3 {
  position: relative;
  font-size: 30px !important;
  color: var(--light-gray) !important;
  margin-left: var(--margin-rsp-xl);
}
h2 {
  color: var(--light-gray) !important;
  font-weight: bold !important;
  position: relative;
  margin: 30px 0px 10px var(--margin-rsp-xl) !important;
  font-size: 25px !important;
}

#aboutme {
  color: var(--font-color);
  text-align: left;
  margin-left: var(--margin-rsp-xl);
}
#aboutme li {
  list-style: none;
  margin-bottom: 5px;
}
#aboutme span {
  background-color: var(--dark-gray);
  padding: 5px;
  border-radius: 5px;
}
#aboutme i {
  background-color: var(--black);
  color: var(--font-color);
  font-size: var(--font-size);
}
#aboutme .fa-brands {
  margin: -5px;
}

.project {
  margin: 0 0 0 var(--margin-rsp-xl);
  display: inline-flex;
  align-items: center;
}
.plogo {
  transition: var(--transition-small);
  width: 150px;
  background-color: var(--dark-gray);
  padding: 2px;
  border-radius: var(--border-radius-medium);
  margin-right: var(--margin-small);
}
.plogo:hover {
  scale: 1.05;
  background-color: rgb(61, 61, 61);
}
.pheadline {
  margin: 50px 0 0 0;
  color: var(--font-color);
  font-size: 25px;
  font-weight: bold;
}
.ptext {
  color: var(--font-color);
  font-size: var(--font-size);
  font-weight: normal;
  margin-right: 50px;
}

.contact {
  vertical-align: top;
  display: inline-block;
  text-align: center;  
}
.contacticon {
  height: 65px;
  background-color: rgb(54, 54, 54);
  border-radius: 20%;
  padding: var(--padding-small);
  margin: 5px;
}
.fa-brands {
  background-color: rgb(54, 54, 54);
  border-radius: 20%;
  padding: var(--padding-small);
  margin: 5px;
  font-size: 45px;
  color: var(--font-color);
}
.contacthead {
  font-size: 25px;
  font-weight: bold;
  color: var(--font-color);
  display: block;
}
.contacttxt {
  font-size: var(--font-size);
  color: var(--font-color);
  font-weight: normal;
  display: block;
}

#impressumtext {
  color: var(--font-color);
  text-align: left;
  margin-left: var(--margin-rsp-xl);
}
#void {
  transition: var(--transition-big);
  text-align: center;
  color: var(--black);
}
#void:hover {
  transition: 5s;
  color: var(--font-color);
}

.hidden {
  transform: translateX(-50%);
  opacity: 0;
  transition: var(--transition-big);
}
.show {
  transform: translateX(0%);
  opacity: 1;
  transition: var(--transition-big);
}
/* ----- Main-Content ----- */

/* ------ Background ------ */
#background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#earth {
  z-index: 500;
  position: absolute;
  width: 200%;
  height: 100%;
  box-shadow: 0px 0px 40px 20px rgba(60, 105, 138, 0.85);
  background-image: radial-gradient(
    ellipse at bottom,
    rgba(60, 105, 138, 0.85) 0%,
    white 100%
  );
  border-radius: 80%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -70%;
}
/* ------ Background ------ */

/* ------ Responsive ------ */
@media(max-width: 991px) {
  h1, h2, #main h3, #profilepic, #aboutme, .project, #impressumtext {
    margin-left: var(--margin-rsp-lg) !important;
  }
}
@media(max-width: 500px) {
  h1, h2, #main h3, #profilepic, #aboutme, .project, #impressumtext {
    margin-left: var(--margin-rsp-sm) !important;
  }
}
@media(max-width: 400px) {
  .project {
    display: inherit;
    text-align: center;
    margin-left: 0;
  }
  .pheadline {
    margin-top: 10px;
  }
  .ptext {
    margin-right: 0;
  }
}
/* ------ Responsive ------ */
